body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-box {
  position: relative;
}

.message-list {
  box-sizing: border-box;
  margin-right: 13.0em;
  min-width: 175px;
}

.user-list {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 13.0em;
}

.join-form {
  margin: 0;
}

.send-message-form {
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 1.0rem;
}
